
# local only files
/**/untracked/

# cmake builds
/**/cmake-build*/

# python
/**/__pycache__/

# tiled
*.tiled-session

# objects and executables
*.o
*.obj
*.err
*.com
*.exe
*.EXE
*.img
*.swp
*.SWP

# brender
/c/brender/tile
/c/brender/brrott

# cpu8086
/c/cpu8086/cpu8086

# luna
/c/dos-jam-2024-07/lua/
/c/dos-jam-2024-07/capture/

# lev_tool
/c/lev_tool/lev_tool

# ne_tool
/c/ne_tool/ne_tool

# prey95
/c/prey95/bsp2ply
/c/prey95/wad2png

# ray
/c/ray/ray

# rott
/c/rott/rott
/c/rott/*.rtl
/c/rott/*.rtc
/c/rott/*.rtlx
/c/rott/*.rtcx
/c/rott/*.wad

# rtlx2rtl
/c/rtlx2rtl/rtlx2rtl
/c/rtlx2rtl/*.rtl
/c/rtlx2rtl/*.rtc
/c/rtlx2rtl/*.rtlx
/c/rtlx2rtl/*.rtcx
/c/rtlx2rtl/*.wad

# safeutils
/c/safeutils/test1

# dreamray
/c/dreamray/dreamray

# dumpmaptiles
/c/dumpmaptiles/dumpmaptiles

# troika_texture_tool
/c/troika_texture_tool/ttt
/c/troika_texture_tool/*.tth
/c/troika_texture_tool/*.ttz
/c/troika_texture_tool/*.vmt
/c/troika_texture_tool/*.vtf

# unpak_hrot
/c/unpak_hrot/unpak_hrot
/c/unpak_hrot/*.pak

# unwal
/c/unwal/unwal
/c/unwal/*.wal

# col2map
/python/col2map/kaitaistruct.py
/python/col2map/renderware_binary_stream.py
/python/col2map/gta3_col.py
/python/col2map/gta3_dir.py
/python/col2map/**/*.dir
/python/col2map/**/*.iqe
/python/col2map/**/*.iqm
/python/col2map/**/*.map
/python/col2map/**/*.hmp
/python/col2map/**/*.hms
/python/col2map/**/*.ipl
/python/col2map/**/*.ide
/python/col2map/**/*.col
/python/col2map/**/*.ksy

# cpj2iqe
/python/cpj2iqe/formats/
/python/cpj2iqe/format_declarations/
/python/cpj2iqe/kaitaistruct.py
/python/cpj2iqe/cpj_utils.py
/python/cpj2iqe/**/*.iqe
/python/cpj2iqe/**/*.iqm
/python/cpj2iqe/**/*.qc
/python/cpj2iqe/**/*.cpj
