
# local only files
/**/untracked/

# cmake builds
/**/cmake-build*/

# tiled
*.tiled-session

# objects and executables
*.o
*.obj
*.err
*.com
*.exe
*.EXE
*.img
*.swp
*.SWP

# brender
/c/brender/tile
/c/brender/brrott

# cpu8086
/c/cpu8086/cpu8086

# lev_tool
/c/lev_tool/lev_tool

# ne_tool
/c/ne_tool/ne_tool

# prey95
/c/prey95/bsp2ply
/c/prey95/wad2png

# ray
/c/ray/ray

# rott
/c/rott/rott
/c/rott/*.rtl
/c/rott/*.rtc
/c/rott/*.rtlx
/c/rott/*.rtcx
/c/rott/*.wad

# rtlx2rtl
/c/rtlx2rtl/rtlx2rtl
/c/rtlx2rtl/*.rtl
/c/rtlx2rtl/*.rtc
/c/rtlx2rtl/*.rtlx
/c/rtlx2rtl/*.rtcx
/c/rtlx2rtl/*.wad

# safeutils
/c/safeutils/test1

# dreamray
/c/dreamray/dreamray

# dumpmaptiles
/c/dumpmaptiles/dumpmaptiles

# troika_texture_tool
/c/troika_texture_tool/ttt
/c/troika_texture_tool/*.tth
/c/troika_texture_tool/*.ttz
/c/troika_texture_tool/*.vmt
/c/troika_texture_tool/*.vtf

# unpak_hrot
/c/unpak_hrot/unpak_hrot
/c/unpak_hrot/*.pak

# unwal
/c/unwal/unwal
/c/unwal/*.wal
